{% load static %}
<!DOCTYPE html>
<html lang="en">
    <style>
        
        input[type=text]:focus input[type=submit]{
            float: right;
        }
    </style>
<head>
  <title>Best Cars Dealership</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse" style="background-color: #white;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Best Cars Dealership</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="about">About us</a></li>
      <li><a href="contact">contact us</a></li>
      {% if user.is_authenticated %}
      <li style="color:white;  margin-top: 15px; margin-left:650px">Hey!{{user.first_name}}</li>
      <li><a href="logout">logout</a></li>
      {% else %}
      <li style=margin-left:650px><a href="login">Login</a></li>
      <li><a href="signup">Sign Up</a></li>
      {% endif %}
</div>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>This is the index page of your navigation bar {{d1.city}}</h3>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Dealer Name</th>
        <th>City</th>
        <th>Address</th>
        <th>Zip</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      {% for dealer in dealers %}
      <tr>
        <td>{{dealer.dealer_id}}</td>
        <td><a href="#">{{dealer.name}}</a></td>
        <td>{{dealer.city}}</td>
        <td>{{dealer.address}}</td>
        <td>{{dealer.zip}}</td>
        <td>{{dealer.state}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>

</html>